/* Reset CSS */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html {
    font-family: Arial, Helvetica, sans-serif;
}

.clear {
    clear: both;
}
/* Begin Header */
#header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 46px;
    background-color: rgb(255, 230, 0);
    z-index: 1;
}
#nav li {
    position: relative;
    display: inline-block;
}

#nav > li > a {
    color:#EE1000;
    font-size: 24 px;
    text-transform: uppercase;
    font-weight: 600;
}

#nav li a {
    text-decoration: none;
    padding: 0 24px;
    line-height: 46px;
    display: inline-block;
}

#nav .subnav {
    /* display: none; */
    position: absolute;
    background-color: #fff;
    box-shadow: 0 4px 10px 0 rgb(0 0 0 / 20%),
                0 4px 20px 0 rgb(0 0 0 / 19%);
    display: none;
    min-width:160px;
}
#nav .subnav li {
    width: 100%;
}

#nav .subnav a {
    color: black;
    padding: 8px 16px;
    line-height: 16px;
}
#nav li:hover .subnav {
    display: block;
}

#nav > li:hover > a,
#nav .subnav li:hover {
    background-color: #F44336;
    color: #fff;
    display: inline-block;
}

#nav .subnav> li:hover a{
    color: #fff;
}

.ti-search {
    position: absolute;
    color: #ee1000;
    top: 0px;
    right: 0px;
    padding: 15px 24px;
    float: right;
}
.ti-search:hover {
    background-color: #F44336;
    color: #fff;
}
.ti-angle-down {
    font-size: 12px;
}
/* End Header */
.texts {
    position: absolute;	
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color:rgb(252, 5, 5);
    bottom: 48px;
    left: 50%;
    font-size: 18px;
    transform: translateX(-50%);
    text-align: center;
    font-weight: 700;
}

.text-slide2{
    bottom:100px;
    font-size: 32px;
}
#slider {
    position: relative;
    width: 60%;
    height: 600px;
    margin-top: 46px;
    margin:auto;
    animation-name: backgroundimg;
    animation-duration: 10s;
    animation-iteration-count: infinite;
}
@keyframes backgroundimg {
    0% {
        background: url('../Images/pic1.jpg') top center / cover no-repeat;
    }
    33% {
        background: url('../Images/pic2.jpg') top center / cover no-repeat;
    }
    66% {
        background: url('../Images/pic3.jpg') top center / cover no-repeat;
    }
    100% {
        background: url('../Images/pic1.jpg') top center / cover no-repeat;
    }
}
/* Begin content */

#content .sub-container,
#content .sub-container2,
#content .sub-container3{
    width: 1000px;
    height: 1100px;
    background-color: paleturquoise;
    margin-left: auto;
    margin-right: auto;
    margin-top: 64px;
    text-align: center;
    position: relative;
}

#content #text-content,
#content #text-content2,
#content #text-content3{
    letter-spacing: 4px;
    font-weight: 500;
    font-size: 38px;
    text-align: center;
    color: rgb(255, 251, 0)  ;
    background-color: rgb(0, 194, 253);
    height: 64px;
    line-height: 64px;
}

#content #khoangtrong1,
#content #khoangtrong2,
#content #khoangtrong3 {
    height: 2px;
}

#content .main-content1 {
    float: left;
    width: 33.3333%;
    margin-top: 48px;
    text-align: center;
}
#content .img1 {
    margin-top: 8px;
    width: 180px;
    border-radius: 4px;
}

#content .text-pic {
    font-size: 20px;
    margin-top: 12px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.subimg3 {
    position: absolute;
    top: 64px;
    left: 666px;   
}
.subimg4{
    position: absolute;
    top: 400px;
    left: 0px; 
}

.subimg5{
    position: absolute;
    top: 400px;
    left: 333px; 
}

.subimg6 {
    position: absolute;
    top: 400px;
    left: 666px; 
}

.subimg7{
    position: absolute;
    top: 730px;
    left: 0px; 
}

.subimg8 {
    position: absolute;
    top: 730px;
    left: 333px; 
}
.subimg9 {
    position: absolute;
    top: 730px;
    left: 666px; 
}

#content .main-content1:hover img{
    cursor: pointer;
    transform: translateY(-12px);
    border: 1px solid #000;
}
/* End Content */